* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #ededed;
  --primary-font-color: #374151;
  --secondary-font-color: #1f2937;
  --decorative-color:#0062ff
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--secondary-color);
}

.app {
}
.app .header {
  height: 5rem;
  width: 100%;
  background: var(--primary-color);
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

.app .footer {
  height: 5rem;
  width: 100%;
  margin-top: 3rem;
  background: var(--primary-color);
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.tabs {
  padding: 2rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 3 3 3 #0062ff;
}

.tab {
  width: 10%;
  margin: 0.2rem;
  margin-left: 0.6rem;
  display: flex;
  gap: 3px;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.tab.activated{
  color: var(--decorative-color);
}

.tab:has(img, p):hover{
    color: var(--decorative-color);
}

.screens{
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: var(--primary-color);
    height: 90vh;
    box-shadow: 5px 5px 5px 3px rgba(197, 197, 197, 0.3), -5px -5px 5px 3px rgba(197, 197, 197, 0.3);
}

/* Diplay & Hide any screen by clicking on the target one*/
.screens .screen{
    display: none;
}

.screens .screen.activated{
    display: block;
}