* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #ededed;
  --primary-font-color: #374151;
  --secondary-font-color: #1f2937;
  --decorative-color:#0062ff
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--secondary-color);
}

.app {
}
.app .header {
  height: 5rem;
  width: 100%;
  background: var(--primary-color);
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

.app .footer {
  height: 5rem;
  width: 100%;
  margin-top: 3rem;
  background: var(--primary-color);
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.tabs {
  padding: 2rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 3 3 3 #0062ff;
}

.tab {
  width: 10%;
  margin: 0.2rem;
  margin-left: 0.6rem;
  display: flex;
  gap: 3px;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.tab.activated{
  color: var(--decorative-color);
}

.tab:has(img, p):hover{
    color: var(--decorative-color);
}

.screens{
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: var(--primary-color);
    height: 90vh;
    box-shadow: 5px 5px 5px 3px rgba(197, 197, 197, 0.3), -5px -5px 5px 3px rgba(197, 197, 197, 0.3);
}

/* Diplay & Hide any screen by clicking on the target one*/
.screens .screen{
    display: none;
}

/* css for Employees. */
.screens .screen.activated{
    display: block;
}
.parte1{
  display: flex;
  justify-content: space-between;

}
.search-icon{
  font-size: 20px;
  cursor: pointer;
  margin-right: 203px;
}

.insearch{
  width: 200px;
  height: 20px;
  border-radius: 5px;
  background-color: #1D4ED8;
  border: #0062ff 1px solid;
  color: #ffffff;
}
.screen.assures  h1{
  font-size:17;
  color: #1D4ED8;
 display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.Employees{
  display: flex;
  justify-content: space-between;
 gap: 23px;
}
.Ajoute{
border: #EFF6FF 2px solid;
background: #EFF6FF;
border-radius: 15px;
width: 350px;
height: auto;
 display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 20px;
}
.Ajoute h2{
  text-align: center;
  color: #000000;
  font-size: 18px;
}
.Ajoute input{
  border:#000000 1px solid;
  border-radius:8px;
  height: 26px;
  box-shadow: #000000 1px 1px 2px;

}
.Ajoute label{
  font-size: 13px;
  font-family:'Times New Roman', Times, serif
}
.Ajouter{
font-size: 14px;
color: rgb(255, 255, 255);
height: 25px;
border: #1D4ED8 1px solid;
background:#1D4ED8;
border-radius: 8px;
cursor:pointer;
box-shadow:1px 1px 2px #000000;
}
/* for table */
.Liste h2 {
  text-align: center;
  font-size: 18px;
  color: #000000;
  padding-bottom: 50px;
}
table {
background: #F1F1F1;
width: 300px;
border-radius: 10px;
height:49px;
border-collapse: collapse;
padding-top:53px ;
 padding-bottom: 13px;
box-shadow: 1px 1px 2px #000000;
}
.Liste table{
  width: 100%;
}
table th, table td { 
  width: 300px;
  padding: 12px;
  text-align: center;
  border: none;
}
.hedertab{
background: #1D4ED8;
color: #EFF6FF;
border: none;
}