* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #d9d9da;
  --primary-font-color: #374151;
  --secondary-font-color: #1f2937;
}

body {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: var(--secondary-color);
}

.app {
}
.app .header {
  height: 5rem;
  width: 100%;
  background: var(--primary-color);
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.tabs {
  padding: 1rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tab {
  width: 10%;
  margin: 0 0.2rem;
  display: flex;
  align-items: center;
}
