@import "tailwindcss";  
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #ededed;
  --primary-font-color: #374151;
  --secondary-font-color: #1f2937;
  --decorative-color: #0062ff;
  --card-color: #d8e7fc;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--secondary-color);
}

.app {
}
.app .header {
  height: 5rem;
  width: 100%;
  background: var(--primary-color);
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

.app .footer {
  height: 5rem;
  width: 100%;
  margin-top: 3rem;
  background: var(--primary-color);
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.tabs {
  padding: 2rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 3 3 3 #0062ff;
}

.tab {
  width: 10%;
  margin: 0.2rem;
  margin-left: 0.6rem;
  display: flex;
  gap: 3px;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.tab.activated {
  color: var(--decorative-color);
}

.tab:has(img, p):hover {
  color: var(--decorative-color);
}

.screens {
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 10px;
  background-color: var(--primary-color);
  height: 90%;
  height: 90vh;
  box-shadow:
    5px 5px 5px 3px rgba(197, 197, 197, 0.3),
    -5px -5px 5px 3px rgba(197, 197, 197, 0.3);
}

/* Diplay & Hide any screen by clicking on the target one*/
.screens .screen {
  display: none;
}

/* css for Employees. */
.screens .screen.activated{
    display: block;
}
.parte1{
  display: flex;
  justify-content: space-between;

}
.search-icon{
  font-size: 20px;
  cursor: pointer;
  margin-right: 203px;
}

.insearch{
  width: 200px;
  height: 20px;
  border-radius: 5px;
  background-color: #1D4ED8;
  border: #0062ff 1px solid;
  color: #ffffff;
}
.screen.assures  h1{
  font-size:17;
  color: #1D4ED8;
 display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.Employees{
  display: flex;
  justify-content: space-between;
 gap: 23px;
}
.Ajoute{
border: #EFF6FF 2px solid;
background: #EFF6FF;
border-radius: 15px;
width: 350px;
height: auto;
 display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 20px;
}
.Ajoute h2{
  text-align: center;
  color: #000000;
  font-size: 18px;
}
.Ajoute input{
  border:#000000 1px solid;
  border-radius:8px;
  height: 26px;
  box-shadow: #000000 1px 1px 2px;

}
.Ajoute label{
  font-size: 13px;
  font-family:'Times New Roman', Times, serif
}
.Ajouter{
font-size: 14px;
color: rgb(255, 255, 255);
height: 25px;
border: #1D4ED8 1px solid;
background:#1D4ED8;
border-radius: 8px;
cursor:pointer;
box-shadow:1px 1px 2px #000000;
}
/* for table */
.Liste h2 {
  text-align: center;
  font-size: 18px;
  color: #000000;
  padding-bottom: 50px;
}
table {
background: #F1F1F1;
width: 300px;
border-radius: 10px;
height:49px;
border-collapse: collapse;
padding-top:53px ;
 padding-bottom: 13px;
box-shadow: 1px 1px 2px #000000;
}
.Liste table{
  width: 100%;
}
table th, table td { 
  width: 300px;
  padding: 12px;
  text-align: center;
  border: none;
}
.hedertab{
background: #1D4ED8;
color: #EFF6FF;
border: none;
}
.screens .screen.activated {
  display: block;
}

/* Declaration Screen Content*/
.declaration .title {
  font-family: popines;
  font-size: 1.5rem;
}

.content {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

/* Declaration form */
.content .left-part {
  width: 30%;

  background-color: var(--card-color);
  border-radius: 5px;
  padding: 1rem 1rem;

  #declaration_form {
    padding: 2rem 0;

    #employeur-selection,
    #annee-mois,
    #declaration-date {
      font-size: 0.9rem;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      text-align: center;
      padding: 0.5rem;
      margin: 0.5rem;
      width: 100%;
      margin: 10px auto;
      border: 1px solid;
      border-radius: 5px;
    }

    #employeur-selection,
    #annee-mois,
    #declaration-date :focus {
      border: 1px solid var(--decorative-color);
    }

    .save_employeur {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      margin-top: 2rem;
      width: 80%;
      background: var(--decorative-color);
      margin: 0 auto;
      text-align: center;
      border-radius: 10px;
      padding: 20px;
      color: var(--primary-color);
      cursor: pointer;
    }

    .save_employeur .btn_icon img {
      width: 1.2rem;
      height: 1.2rem;
      text-align: center;
      margin: auto;
    }
  }
}

/* Declaration table which holds the 'Declarations' of employers */

.content .right-part {
  width: 70%;
  border-radius: 5px;
  padding: 1rem 1rem;
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 0.6rem;
  }

  td,
  th {
    border: 2px solid #dddddd;
    padding: 8px;
  }
  th {
    text-align: center;
  }
  td.isNotAjour {
    color: rgb(255, 68, 68);
    background-color: rgb(255, 158, 192);
  }
  td.isAjour {
    color: rgb(54, 255, 54);
    background-color: #dcfce7;
  }
}
/*--hiba start css--*/
.form-title {
  border-bottom: 1px solid #d2cccc;
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}
.employeur {
  display: flex;
  gap: 33px;
  width: 100%;
}
.left {
  background-color: #eff6ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(215, 223, 248);
  padding: 20px;
  width: 26%;
}
label {
  color: #333;
  font-size: 19px;
}
input {
  border-radius: 7px;
  border: none;
  padding: 8px;
  height: 40px;
  width: 100%;
  font-size: 14px;
}
.left form input {
  margin-bottom: 10px;
  margin-top: 10px;
}
.btn {
  margin-top: 10px;
  background-color: #1d4ed8;
  border: 1px solid rgb(208, 224, 245);
  color: white;
  height: 40px;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(238, 236, 236, 0.619);
}
.btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.btn:active {
  transform: translateY(0);
  opacity: 0.9;
}
.right {
  width: 72%;
}
.table-title{
  margin-bottom: 1.4rem;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}
table {
  background-color: whitesmoke;
  border-radius: 10px;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(166, 205, 227, 0.1);
}
thead {
  background-color: #eff6ff;
  color: #333;
}
th {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  font-weight: 500;
}
tbody tr {
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.2s ease;
}
tbody tr:hover{
  background-color: #eef1f4;
}
tbody tr:last-child {
  border-bottom: none;
}
tbody tr:nth-child(even) {
  background-color: fafafa;
}
td {
  padding: 17px 24px;
  color: #333;
  text-align: center;
}
/*--hiba end css--*/


/* start abderrahman  */
  .no-scrollbar {
  scrollbar-width: none;      
  -ms-overflow-style: none;   
}

.no-scrollbar::-webkit-scrollbar {
  display: none;              
}

/* end abderahman */
